.layout {
  .header {
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #e7e7e7;

    .logo {
      font-family: Verdana;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      color: #051392;
      line-height: 1;
    }
  }
}
